.card-details {
  position: fixed;

  top: 50%;
  left: 50%;
  height: 80vh;
  width: 70vw;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 245, 239);
  z-index: 10;
  border-radius: 8px;
}

.go-back-container {
  position: fixed;
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.357);
  top: 0;
  left: 0;
}

.card-details-top {
  h1 {
    margin: 0;
  }
  button {
    background-color: inherit;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
  }
  button:hover {
    background-color: rgb(223, 219, 219);
    cursor: pointer;
  }
  height: 50px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-details-main {
  display: flex;
  height: 100%;
}
.edit-actions {
  width: 70%;
  height: 100%;
  background-color: rgb(240, 245, 239);
}

.add-to-card {
  width: 30%;
  height: 100%;
  background-color: rgb(240, 245, 239);
  font-size: 1.2rem;
  ul {
    padding: 0;
  }
  li {
    padding: 10px;
    margin: 4px;
    border-radius: 4px;
    padding-left: 20px;
    transition: 0.2s;
    background-color: rgb(236, 236, 236);
  }
  li:hover {
    background-color: rgb(206, 199, 199);
    cursor: pointer;
  }
  .title-li {
    color: rgb(173, 173, 173);
    background-color: inherit;
    font-size: 1.4rem;
  }
  .title-li:hover {
    background-color: inherit;
  }
}
