.board {
  overflow-x: auto;
}
.board-list {
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
  border-radius: 4px;
  margin: 8px;
  box-sizing: border-box;

  ul {
    padding: 0;
    margin: 0;
  }
  .board-card {
    background-color: whitesmoke;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    position: relative;
  }
}

.board-list {
}
.add-card {
  padding: 4px;
}
.edit-modal {
  background-color: hotpink;
  height: 200px;
  position: relative;
  top: 0px;
  right: -10px;
  z-index: 10;
}
