.card-details {
  font-weight: bold;
  position: fixed;
  padding-bottom: 30px;
  // color: ;
  color: #5e6c84;
  top: 50%;
  left: 50%;
  height: 90vh;
  // overflow: hidden;
  // overflow-x: none;
  // overflow-y: scroll;
  // min-height: 90vh;

  width: 50vw;
  transform: translate(-50%, -50%);
  background-color: #f4f5f7;
  z-index: 10;
  border-radius: 4px;
  .details-svg {
    height: 1.2rem;
    margin-right: 5px;
  }
  .details-larger-svg {
    width: 25px;
    align-self: center;
  }
}
.gap-right {
  margin-left: 40px;
}

.labels-date-section {
  margin-top: 20px;
  span {
    font-size: 1.3rem;
  }
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.date-on-details {
  height: 100%;
  .date {
    height: 100%;
    display: flex;
    flex-direction: column;
    span {
    }
    main {
      position: relative;
      background-color: #eaecf0;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
      display: flex;
      align-items: center;
      // justify-content: ce;
      height: 50px;
      margin-top: 5px;
      .chosen-date:hover {
        cursor: pointer;
      }
      .completed {
        padding: 7px;
        border-radius: 7px;
        background-color: rgb(40, 211, 40);
      }
      .overdue-span {
        padding: 7px;
        border-radius: 7px;
        background-color: rgb(211, 40, 40);
        color: white;
      }
    }
  }
}

.card-details-cover {
  width: 100%;
  height: 100px;
}
.cover-img {
  width: 100%;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.781);

  img {
    max-height: 100px;
  }
}

.green-cover {
  background-color: rgb(54, 199, 54);
}

.yellow-cover {
  background-color: rgb(252, 252, 78);
}
.blue-cover {
  background-color: rgb(46, 46, 255);
}
.dark-blue-cover {
  background-color: rgb(19, 19, 110);
}
.purple-cover {
  background-color: rgb(102, 1, 102);
}
.pink-cover {
  background-color: rgb(252, 162, 177);
}
.orange-cover {
  background-color: rgb(253, 178, 39);
}
.red-cover {
  background-color: rgb(243, 47, 47);
}
.brown-cover {
  background-color: rgb(131, 33, 33);
}
.light-blue-cover {
  background-color: rgb(50, 146, 255);
}
.turkiz-cover {
  background-color: rgb(24, 206, 136);
}

.details-li {
  position: relative;
  .li-span {
    width: 100%;
    // height: 100%;
  }
}

.card-details-layout {
  width: 92%;
  margin: auto;
}

.card-details-top {
  height: 50px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;

  .card-details-top-healine {
    color: #5e6c84;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
  }
  h1 {
    margin: 0;
  }
  button {
    margin-left: 10px;
    background-color: inherit;
    border: none;
    background-color: rgb(209, 207, 207);
    font-size: 1.6rem;
    border-radius: 50%;
  }
  button:hover {
    background-color: rgb(223, 219, 219);
    cursor: pointer;
  }
  input {
    color: #5e6c84;
    height: 50px;
    font-size: 1.5rem;
    background-color: inherit;
    border: none;
    width: 100%;
    border-radius: 10px;
    // background-color: #eaecf0;
  }
}

.card-details-main {
  display: flex;
  height: 100%;

  textarea:focus {
    outline: none;
    border-color: none;
  }
}
.edit-actions {
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70vh;
  #scroll {
    direction: rtl;
  }

  width: 100%;
  height: 100%;
  background-color: #f4f5f7;
}

.add-to-card {
  width: 30%;
  height: 100%;
  background-color: #f4f5f7;
  font-size: 1.2rem;
  ul {
    padding: 0;
    // display: flex;
    // flex-direction: column;
  }
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 4px;
    border-radius: 4px;
    padding-left: 20px;
    transition: 0.2s;
    margin-left: 10px;
    background-color: #eaecf0;
  }
  li:hover {
    background-color: rgb(206, 199, 199);
    cursor: pointer;
  }
  .title-li {
    text-align: left;
    padding-bottom: 7px;
    padding-left: 0;
    color: #5e6c84;
    background-color: inherit;
    font-size: 1.4rem;
    // margin-top: 0;
    padding-top: 0;
  }
  .title-li:hover {
    background-color: inherit;
  }
}

.labels-preview {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  span:hover {
    cursor: pointer;
  }
  .card-details-labels-preview {
    height: 50px;
    min-width: 50px;
    padding: 5px;
    border-radius: 7px;
  }
  .card-details-labels-preview:hover {
    cursor: pointer;
  }

  .card-details-add-label {
    position: relative;
    height: 50px;
    width: 50px;
    padding: 5px;
    background-color: #eaecf0;
    border-radius: 8px;

    img {
      height: 20px;
    }
  }
}

.label-details-green {
  background-color: rgb(94, 240, 94);
}
.label-details-red {
  background-color: rgb(245, 73, 73);
}
.label-details-orange {
  background-color: rgb(243, 180, 64);
}
.label-details-yellow {
  background-color: rgb(252, 252, 19);
}
.label-details-purple {
  background-color: rgb(219, 102, 219);
}
.label-details-blue {
  background-color: rgb(75, 75, 245);
}
.label-details-dark-blue {
  background-color: rgb(34, 34, 128);
}

// descrition
.description {
  margin-top: 70px;
  .description-title {
    display: flex;
    gap: 10px;
    margin: 0;
  }
  font-size: 1.5rem;
  textarea {
    font-family: segoe;
    margin-top: 10px;
    width: 90%;
    height: 150px;
    background-color: #eaecf0;

    border: none;
    border-radius: 7px;
    font-size: 1.3rem;
  }
  textarea:focus {
    font-family: segoe;
    margin-top: 10px;
    width: 90%;
    height: 150px;
    background-color: #fbfcfd;
    border: 1px #3385ff solid;
    border-radius: 7px;
    font-size: 1.3rem;
  }
}

.activity {
  img {
    width: 30px;
  }
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}

// COMMENTS
.add-comment-form {
  margin-top: 10px;
  input {
    margin-top: 7px;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    // background-color: #f4f5f7;
    font-size: 1.2rem;
    border: none;
    padding-inline-start: 10px;
    background-color: #eaecf0;
  }

  input:focus {
    border: solid 1px grey;
  }
}

// checkList

.checklist {
  width: 100%;

  .top {
    width: 100%;
    display: flex;

    .left-container {
      gap: 10px;
    }

    .top-title {
      display: flex;
      gap: 10px;
      width: 98%;
      justify-content: space-between;
      img {
        width: 30px;
      }
    }
  }

  main {
    width: 100%;
  }
  .meter-section {
    display: flex;
    width: 90%;
    meter {
      width: 100%;
      transition: 0.3s;
      content: attr(value);
      height: 25px;
    }
    meter::-webkit-meter-optimum-value {
      background: rgb(75, 230, 75);
      transition: 0.3s;
    }
    meter::-webkit-meter-suboptimum-value {
      // background: rgb(75, 230, 75);
      transition: 0.3s;
    }
  }

  textarea {
    font-family: segoe;
    // margin-top: 10px;
    width: 90%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #0066ff;
    // border: none;
    border-radius: 7px;
    font-size: 1.3rem;
  }
  .checklist-item {
    width: 90%;
    height: 2rem;
    font-size: 1.3rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      margin-right: 10px;
    }
    img {
      height: 20px;
      display: none;
    }
    img:hover {
      height: 20px;
      background-color: #d0d1d3;
    }
  }
  .checklist-item:hover {
    img {
      height: 20px;
      display: block;
    }
    background-color: #eaecf0;
  }

  button {
    width: 120px;
    height: 40px;
    border-radius: 7px;
    color: white;
    background-color: #eaecf0;
    color: #506988;
    border: none;
    // margin-top: 30px;
  }
  button:hover {
    cursor: pointer;
    background-color: rgba(9, 30, 66, 0.0784313725490196);
  }
}

// ATTACHMENTS

//

.card-details-attachments {
  width: 100%;

  .card-details-link {
    margin-top: 30px;
    max-height: 150px;
    display: flex;
    justify-content: flex-start;

    .img-container {
      background-color: rgba(0, 0, 0, 0.671);
      height: 150px;
      width: 150px;
      margin-right: 30px;

      img {
        z-index: 5;
        max-height: 150px;
        max-width: 150px;
        height: fit-content;
        width: fit-content;
      }
    }
    .link-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .name {
        font-size: 1.5rem;
        text-decoration: underline;
        font-weight: bold;
        margin: 0;
      }

      .edit-cover-span:hover {
        cursor: pointer;
      }
      h4 {
        margin: 0;
      }
    }
  }
}

// users
.users-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .users-details-section {
    display: flex;
    align-items: center;
    gap: 10px;
    .user-details-preview {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      background-color: rgb(214, 163, 163);
      border-radius: 50%;
    }
  }
}
