.card-details {
  margin-top: 52px;

  padding-bottom: 30px;

  // min-height: 100%;
  min-height: 90vh;
  height: fit-content !important;
  margin-bottom: 100px;
  width: 768px;
  background-color: #f4f5f7;
  z-index: 10;
  border-radius: 4px;
  .details-svg {
    height: 1.2rem;
    margin-right: 5px;
  }
  .details-larger-svg {
    width: 25px;
    align-self: center;
  }
}

.labels-date-section {
  h3 {
    font-size: 12px;
    font-weight: 600;
    color: #5e6c84;
    margin: 0 8px 4px 0;
  }
  .labels-details-section {
    margin-right: 10px;
  }
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.list-id-to-show {
  color: #5e6c84;
  margin: 0 0 8px 45px;
}

.date-on-details {
  margin-right: 10px;
  height: 100%;
  .date {
    height: 100%;
    display: flex;
    flex-direction: column;
    span {
    }
    main {
      position: relative;
      background-color: #eaecf0;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
      display: flex;
      align-items: center;
      // justify-content: ce;
      height: 50px;
      margin-top: 5px;
      .chosen-date:hover {
        cursor: pointer;
      }
      .completed {
        padding: 7px;
        border-radius: 7px;
        background-color: rgb(40, 211, 40);
      }
      .overdue-span {
        padding: 7px;
        border-radius: 7px;
        background-color: rgb(211, 40, 40);
        color: white;
      }
    }
  }
}

.card-details-cover {
  min-width: 100%;
  height: 100px;
}
.cover-img {
  min-width: 100%;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.781);
  display: flex;

  .exit-details {
    height: 30px;
    justify-self: center;
  }

  .cover-img-to-show {
    justify-self: center;
    max-height: 100px;
  }
}

.green-cover {
  background-color: rgb(54, 199, 54);
}

.yellow-cover {
  background-color: rgb(252, 252, 78);
}
.blue-cover {
  background-color: rgb(46, 46, 255);
}
.dark-blue-cover {
  background-color: rgb(19, 19, 110);
}
.purple-cover {
  background-color: rgb(102, 1, 102);
}
.pink-cover {
  background-color: rgb(252, 162, 177);
}
.orange-cover {
  background-color: rgb(253, 178, 39);
}
.red-cover {
  background-color: rgb(243, 47, 47);
}
.brown-cover {
  background-color: rgb(131, 33, 33);
}
.light-blue-cover {
  background-color: rgb(50, 146, 255);
}
.turkiz-cover {
  background-color: rgb(24, 206, 136);
}

.details-li {
  position: relative;
  .li-span {
    width: 100%;
    // height: 100%;
  }
}

.card-details-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 8px 0 16px;

  .card-details-top-healine {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
  }
  h1 {
    margin: 0;
  }
  button {
    margin-left: 10px;
    background-color: inherit;
    border: none;
    background-color: rgb(209, 207, 207);
    border-radius: 50%;
  }
  button:hover {
    background-color: rgb(223, 219, 219);
    cursor: pointer;
  }
  input {
    border: none;
    outline: none;
    min-height: 24px;
    padding: 4px 8px;
    height: 33.333px;
    border-radius: 3px;
    font-size: 1.4285714286rem;
    font-weight: 600;
    line-height: 24px;
    transition: border 0.1s;
    font-family: inherit;
    width: 100%;
    margin-right: 0 0 8px 50px;
    background-color: transparent;
  }
}

.card-details-main {
  display: flex;
  height: 100%;

  textarea:focus {
    outline: none;
    border-color: none;
  }
}
.edit-actions {
  &::-webkit-scrollbar {
    display: none;
  }
  #scroll {
    direction: rtl;
  }
  width: 552px;
  padding: 0 8px 8px 16px;
  position: relative;
  height: 100%;
  background-color: #f4f5f7;
}

.actions {
  width: 168px;
  padding: 0 $s-4 $s-2 $s-2;
  height: 100%;
  background-color: #f4f5f7;
  ul {
    padding: 0;
  }
  li {
    min-width: 168px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: $s-2;
    border-radius: 4px;
    transition: 0.2s;
    background-color: #eaecf0;
  }
  li:hover {
    background-color: rgb(206, 199, 199);
    cursor: pointer;
  }
  .title-li {
    text-align: left;
    padding-bottom: 7px;
    padding-left: 0;

    background-color: inherit;
    // margin-top: 0;
    padding-top: 0;
  }
  .title-li:hover {
    background-color: inherit;
  }
}

.labels-preview {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  span:hover {
    cursor: pointer;
  }
  .card-details-labels-preview {
    height: 32px;
    margin: 0 4px 4px 0;
    min-width: 40px;
    padding: 0 12px;
    font-weight: 600;
    border-radius: 4px;
    .label-text {
      color: white;
      line-height: 32px;
      font-weight: 600;
    }
  }
  .card-details-labels-preview:hover {
    cursor: pointer;
  }

  .card-details-add-label {
    position: relative;
    padding: 8px;
    background-color: #eaecf0;
    border-radius: 4px;

    img {
      height: 16px;
      width: 16px;
    }
  }
}

.label-details-green {
  background-color: rgb(94, 240, 94);
  color: white;
}
.label-details-red {
  background-color: rgb(245, 73, 73);
  color: white;
}
.label-details-orange {
  background-color: rgb(243, 180, 64);
  color: rgb(0, 0, 0);
}
.label-details-yellow {
  background-color: rgb(252, 252, 19);
  color: rgb(0, 0, 0);
}
.label-details-purple {
  background-color: rgb(219, 102, 219);
  color: white;
}
.label-details-blue {
  background-color: rgb(75, 75, 245);
  color: white;
}
.label-details-dark-blue {
  background-color: rgb(34, 34, 128);
  color: white;
}

// descrition
.description {
  margin-top: 70px;
  .description-title {
    display: flex;
    gap: 10px;
    margin: 0;
  }
  textarea {
    font-family: segoe;
    margin-top: 10px;
    width: 90%;
    height: 150px;
    background-color: #eaecf0;

    border: none;
    border-radius: 7px;
  }
  textarea:focus {
    font-family: segoe;
    margin-top: 10px;
    width: 90%;
    height: 150px;
    background-color: #fbfcfd;
    border: 1px #3385ff solid;
    border-radius: 7px;
  }
}

.activity {
  img {
    width: 30px;
  }
  display: flex;
  gap: 10px;
}

// checkList

.checklist {
  width: 100%;
  margin-top: 20px;

  .top {
    width: 100%;
    display: flex;

    .left-container {
      gap: 10px;
    }

    .top-title {
      display: flex;
      gap: 10px;
      width: 98%;
      justify-content: space-between;
      img {
        width: 30px;
      }
    }
  }

  main {
    width: 100%;
  }
  .meter-section {
    display: flex;
    width: 90%;
    meter {
      width: 100%;
      transition: 0.3s;
      content: attr(value);
      height: 25px;
    }
    meter::-webkit-meter-optimum-value {
      background: rgb(75, 230, 75);
      transition: 0.3s;
    }
    meter::-webkit-meter-suboptimum-value {
      // background: rgb(75, 230, 75);
      transition: 0.3s;
    }
  }

  textarea {
    font-family: segoe;
    // margin-top: 10px;
    width: 90%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #0066ff;
    // border: none;
    border-radius: 7px;
  }
  .checklist-item {
    width: 90%;
    height: 2rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      margin-right: 10px;
    }
    img {
      height: 20px;
      display: none;
    }
    img:hover {
      height: 20px;
      background-color: #d0d1d3;
    }
  }
  .checklist-item:hover {
    img {
      height: 20px;
      display: block;
    }
    background-color: #eaecf0;
  }

  button {
    width: 120px;
    height: 40px;
    border-radius: 7px;

    background-color: #eaecf0;

    border: none;
    // margin-top: 30px;
  }
  button:hover {
    cursor: pointer;
    background-color: rgba(9, 30, 66, 0.0784313725490196);
  }
}

// ATTACHMENTS

//

.card-details-attachments {
  width: 100%;

  .card-details-link {
    margin-top: 30px;
    max-height: 150px;
    display: flex;
    justify-content: flex-start;

    .img-container {
      background-color: rgba(0, 0, 0, 0.671);
      height: 150px;
      width: 150px;
      margin-right: 30px;

      img {
        z-index: 5;
        max-height: 150px;
        max-width: 150px;
        height: fit-content;
        width: fit-content;
      }
    }
    .link-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .name {
        text-decoration: underline;
        margin: 0;
      }

      .edit-cover-span:hover {
        cursor: pointer;
      }
      .edit-name {
        position: relative;
      }
      h4 {
        margin: 0;
      }
    }
  }
}

// users
.users-section {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .users-details-section {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    .user-details-preview {
      color: #5e6c84;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      color: white;
      border-radius: 50%;
      img {
        height: 50%;
      }
    }
    .add-user-button {
      position: relative;
      background-color: #eaecf0;
    }
    .add-user-button:hover {
      cursor: pointer;
      background-color: #ced0d3;
    }
  }
}

// COMMENTS

.comments {
  ul {
    margin-left: 0;
    padding-left: 0px;
  }

  .comment {
    display: flex;
    border-radius: 7px;
    width: 95%;
    margin-top: 20px;
    height: 80px;

    .comment-user-content {
      display: flex;
    }

    .comment-content {
      display: flex;
      flex-direction: column;
      border-radius: 7px;

      .comment-user-fullname {
        display: flex;
        align-items: center;
        height: 55px;
      }
      .comment-txt {
        -webkit-box-shadow: -1px 1px 4px 1px rgba(127, 127, 127, 0.6);
        box-shadow: -1px 1px 4px 1px rgba(127, 127, 127, 0.6);
        border-radius: 5px;
        // padding-top: 20px;
        span {
          margin-left: 20px;
        }
        height: 55px;
        background-color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
      }
      width: 100%;
    }
  }

  .comment:hover {
    background-color: #eaecf0;
    // img {
    //   display: block;
    // }
  }

  .user-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: rgb(253, 253, 253);
    background-color: red;
    border-radius: 50%;
    margin-right: 15px;
  }
}
.add-comment-form {
  margin-top: 10px;
  display: flex;
  width: 95%;
  align-items: flex-end;
  input {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    padding-inline-start: 10px;
    background-color: #ffffff;
    // border: 1px solid;
    -webkit-box-shadow: -1px 1px 4px 1px rgba(127, 127, 127, 0.6);
    box-shadow: -1px 1px 4px 1px rgba(127, 127, 127, 0.6);
  }

  input:focus {
    border: solid 1px grey;
  }
  .user-logo {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
    color: rgb(253, 253, 253);
    background-color: darkcyan;
    border-radius: 50%;
  }
}

.map {
  border-radius: 5px;
  min-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
