.card-details {
  position: fixed;

  top: 50%;
  left: 50%;
  height: 80vh;
  width: 50vw;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 245, 239);
  z-index: 10;
  border-radius: 8px;
}
.card-details-layout {
  width: 92%;
  margin: auto;
}

.go-back-container {
  position: fixed;
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.357);
  top: 0;
  left: 0;
}

.card-details-top {
  h1 {
    margin: 0;
  }
  button {
    background-color: inherit;
    border: none;
    background-color: rgba(199, 199, 199, 0.842);
    font-size: 1.2rem;
    border-radius: 50%;
  }
  button:hover {
    background-color: rgb(223, 219, 219);
    cursor: pointer;
  }
  input {
    height: 50px;
    font-size: 1.5rem;
    background-color: inherit;
    border: none;
    width: 100%;
    border-radius: 10px;
  }
  height: 50px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-details-main {
  display: flex;
  height: 100%;
}
.edit-actions {
  width: 70%;
  height: 100%;
  background-color: rgb(240, 245, 239);
}

.add-to-card {
  width: 30%;
  height: 100%;
  background-color: rgb(240, 245, 239);
  font-size: 1.2rem;
  ul {
    padding: 0;
  }
  li {
    padding: 10px;
    margin: 4px;
    border-radius: 4px;
    padding-left: 20px;
    transition: 0.2s;
    background-color: rgb(236, 236, 236);
  }
  li:hover {
    background-color: rgb(206, 199, 199);
    cursor: pointer;
  }
  .title-li {
    color: rgb(173, 173, 173);
    background-color: inherit;
    font-size: 1.4rem;
  }
  .title-li:hover {
    background-color: inherit;
  }
}

.labels-preview {
  display: flex;
  gap: 5px;
  margin: 5px;
  .card-details-labels-preview {
    height: 50px;
    padding: 5px;
    border-radius: 7px;
  }
}

// descrition
.description {
  font-size: 1.5rem;
  textarea {
    font-family: montserrat;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    background-color: inherit;
    border: none;
    border-radius: 7px;
    font-size: 1.3rem;
  }
}

.activity {
  font-size: 1.5rem;
}

// COMMENTS
.add-comment-form {
  margin-top: 10px;
  input {
    margin-top: 7px;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(248, 252, 247);
    font-size: 1.2rem;
  }
}
