.work-space {
	width: 80%;
	margin: auto;
	display: flex;
}

.work-space .nav {
	font-size: 1.3rem;

	height: 80vh;
	//   background-color: rgb(240, 208, 208);
	li {
		height: 30px;
		padding: 14px;
		transition: 0.2s;
	}
	li:hover {
		background-color: rgb(202, 178, 178);
	}
}

.workspaces-boards {
	height: 80vh;
	width: 70%;
	display: flex;
	gap: 10px;
	//   background-color: rgb(230, 240, 208);
}

.headline {
	text-align: center;
	display: flex;
	align-items: center;
	width: 100px;
}
div.boards {
	//   background-color: rgb(219, 206, 23);
	margin-left: 100px;
	height: 400px;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}

.boards-container {
	max-height: 80vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.board-preview {
	margin: auto;
	img {
		border-radius: 15px;
		height: 150px;
	}
}

.usersvg {
	height: 80px;
}
