.app-header {
	display: flex;
	justify-content: flex-between;
	width: 100vw;
	height: 5vh;
	font-size: 1.5rem;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.45);
	color: #ffff;

	.main-header {
		margin-right: 10px;
		justify-content: space-between;
		width: 100vw;
		align-items: center;
	}

	.left-container {
		gap: 30px;
	}
	.logo-container {
		margin-left: 30px;
	}
	img {
		width: 10rem;
		height: 5vh;
	}

	.boards-img {
		height: 25px;
		width: 25px;
		margin-right: 10px;
	}

	ul {
		padding: 0;
		display: flex;
		margin: 0;
	}

	li {
		cursor: pointer;
		margin-left: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	li.boards {
		height: 5vh;
		display: flex;
		justify-content: flex-start;
		font-size: 1.5rem;
		justify-content: center;
		position: relative;
		margin-left: 0;
	}

	.app-header li:hover {
		opacity: 0.5;
	}

	// Boards

	.boards-modal {
		z-index: 1;
		background-color: white;
		color: $b1;
		flex-direction: column;
		position: absolute;
		min-height: 20vh;
		height: fit-content;
		width: fit-content;
		position: absolute;
		align-items: flex-start;
		top: 110%;
		left: -5%;
		min-width: 180px;
		padding: 10px;
		border-radius: 8px;
	}

	.boards-modal li {
		margin-top: 10px;
		margin-left: 0;
	}

	.boards-modal li:hover {
		opacity: 0.6;
	}

	.boards-modal li:last-child {
		margin-bottom: 10px;
	}

	// Create

	.create-li {
		position: relative;
		span {
			background-color: rgba(0, 0, 0, 0.1);
			padding: 8px;
			border-radius: 8px;
		}

		span:hover {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}

	.create-modal {
		position: absolute;
		z-index: 1;
		background-color: white;
		color: $b1;
		flex-direction: column;
		min-height: 60px;
		min-width: 150px;
		height: fit-content;
		width: fit-content;
		position: absolute;
		align-items: flex-start;
		left: -5%;
		top: 110%;
		padding: 10px;
		border-radius: 8px;
		font-size: 1.2rem;
	}

	.create-modal span {
		cursor: pointer;
		background-color: inherit;
	}

	.create-modal span:hover {
		opacity: 0.5;
		transition: 0.2s ease-in-out all;
		background-color: inherit;
	}

	// User

	.user-avatar {
		right: 0;
		display: flex;
		align-items: center;
		position: relative;
	}

	.user-avatar-btn {
		font-weight: 700;
		// font-size: larger;
		cursor: pointer;
		height: 32px;
		width: 32px;
		background-color: royalblue;
		border-radius: 50%;
		color: $b1;
	}

	// .user-avatar-btn:hover {
	// 	background-color: rgb(190, 190, 190);
	// 	transition: 0.2s ease-in-out all;
	// }
	// .user-avatar-btn:active {
	// 	background-color: rgb(151, 150, 150);
	// }

	.user-modal {
		z-index: 10;
		background-color: white;
		color: $b1;
		flex-direction: column;
		min-height: 10vh;
		height: fit-content;
		width: fit-content;
		position: absolute;
		align-items: flex-start;
		right: 0.5%;
		top: 6%;
		padding: 10px;
		border-radius: 8px;
		font-size: 1rem;
		font-weight: normal;
	}
}
