.app-header {
	display: flex;
	justify-content: flex-between;
	width: 100vw;
	height: 5vh;
	font-size: 1.5rem;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.45);
	color: #ffff;
	.main-header {
		display: flex;
		width: 100vw;
	}

	.logo-container {
		margin: 0 30px;
	}
	img {
		width: 10rem;
		height: 5vh;
	}

	.boards-img {
		height: 30px;
		width: 30px;
		margin-right: 10px;
	}

	nav {
		margin-right: 30px;
		justify-content: space-between;
		width: 85vw;
		align-items: center;
	}

	ul {
		display: flex;
		margin: 0;
	}

	li {
		cursor: pointer;
		margin-left: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	li.board {
		height: 5vh;
		display: flex;
		font-size: 1.5rem;
		justify-content: center;
	}

	.user-avatar {
		right: 0;
		display: flex;
		align-items: center;
	}

	.user-avatar-btn {
		font-weight: 700;
		// font-size: larger;
		cursor: pointer;
		height: 32px;
		width: 32px;
		font-size: 12;
		background-color: rgb(218, 218, 218);
		border-radius: 50%;
		color: black;
	}

	.user-avatar-btn:hover {
		background-color: rgb(190, 190, 190);
		transition: 0.2s ease-in-out all;
	}
	.user-avatar-btn:active {
		background-color: rgb(151, 150, 150);
	}

	li:hover {
		opacity: 0.5;
	}

	.boards-modal li {
		margin-top: 10px;
		margin-left: 0;
	}

	.create-li {
		margin-left: 150px;
	}

	.create-modal span {
		cursor: pointer;
	}

	.create-modal span:hover {
		opacity: 0.5;
		transition: 0.2s ease-in-out all;
	}
}

.boards-modal {
	z-index: 1;
	background-color: white;
	color: $b1;
	flex-direction: column;
	min-height: 20vh;
	height: fit-content;
	width: fit-content;
	position: absolute;
	align-items: flex-start;
	left: 14vw;
	top: 5.5vh;
	padding: 10px;
	border-radius: 8px;
}

.boards-modal li:last-child {
	margin-bottom: 10px;
}

.user-modal {
	z-index: 10;
	background-color: white;
	color: $b1;
	flex-direction: column;
	min-height: 10vh;
	height: fit-content;
	width: fit-content;
	position: absolute;
	align-items: flex-start;
	right: 2%;
	top: 5.5vh;
	padding: 10px;
	border-radius: 8px;
}

.create-modal {
	z-index: 1;
	background-color: white;
	color: $b1;
	flex-direction: column;
	min-height: 10vh;
	height: fit-content;
	width: fit-content;
	position: absolute;
	align-items: flex-start;
	left: 27vw;
	top: 5.5vh;
	padding: 10px;
	border-radius: 8px;
}
