.app-header {
	// display: flex;

	// width: 100vw;
	min-height: 44px;
	// font-size: 1rem;
	// font-weight: 700;
	background: #026aa7;
	// background-color: rgba(0, 0, 0, 0.45);
	// color: #ffff;
	// position: absolute;
	// top: -10%;

	.login-signup-buttons-div {
		height: 100%;

		button {
			margin: 0 $s-2;
		}
	}

	// button {
	// 	padding-top: $s-2;
	// }

	.main-header {
		height: 100%;
		padding: 0 $s-2;
		justify-content: space-between;
		width: 100vw;
		align-items: center;
	}

	.left-container {
		gap: 30px;
	}
	.logo-container {
		margin-left: $s-2;
	}
	img {
		width: 8rem;
		height: $s-8;
	}

	.boards-img {
		height: $s-4;
		width: $s-4;
		margin-right: $s-2;
	}

	ul {
		padding: 0;
		display: flex;
		margin: 0;
	}

	li {
		cursor: pointer;
		margin-left: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 44px;
	}

	li.boards {
		display: flex;
		justify-content: flex-start;
		justify-content: center;
		position: relative;
		margin-left: 0;
	}

	.app-header li:hover {
		opacity: 0.5;
	}

	// Boards

	.boards-modal {
		z-index: 1;
		background-color: white;
		color: $b1;
		flex-direction: column;
		position: absolute;
		min-height: 20vh;
		height: fit-content;
		width: fit-content;
		position: absolute;
		align-items: flex-start;
		top: 110%;
		left: -5%;
		min-width: 180px;
		padding: $s-2;
		border-radius: $s-2;
	}

	.boards-modal li {
		margin-top: $s-2;
		margin-left: 0;
	}

	.boards-modal li:hover {
		opacity: 0.6;
	}

	.boards-modal li:last-child {
		margin-bottom: $s-2;
	}

	.board-modal-img {
		width: 60px;
		height: 30px;
		margin-right: $s-2;
	}

	// Create

	.create-li {
		position: relative;
		span {
			background-color: rgba(0, 0, 0, 0.1);
			padding: $s-2 $s-4;
			border-radius: 4px;
		}

		span:hover {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}

	.create-modal {
		position: absolute;
		z-index: 1;
		background-color: white;
		color: $b1;
		flex-direction: column;
		min-height: 60px;
		min-width: 200px;
		height: fit-content;
		width: fit-content;
		position: absolute;
		align-items: flex-start;
		left: -5%;
		top: 110%;
		padding: $s-2;
		border-radius: $s-2;
		cursor: default;

		h5 {
			// margin-bottom: $s-2;
		}
	}

	.skeleton-div {
		width: 200px;
		height: 120px;

		img {
			width: unset;
			height: unset;
		}
	}

	.create-modal span {
		cursor: pointer;
		background-color: inherit;
	}

	.create-modal span:hover {
		opacity: 0.5;
		transition: 0.2s ease-in-out all;
		background-color: inherit;
	}

	.create-board-title-div {
		input {
			// margin-bottom: $s-2;
			border-radius: 0;
			height: 32px;
			width: 100%;
		}

		span {
			// margin-bottom: $s-2;
			padding: 0;
			font-weight: 400;
		}

		span:hover {
			cursor: default;
			opacity: 1;
		}
	}

	.create-board-btn {
		width: 100%;
	}

	// User

	.user-details {
		flex-wrap: wrap;
	}

	.user-details-text {
		margin-left: $s-2;
	}
	.user-avatar {
		right: 0;
		display: flex;
		align-items: center;
		position: relative;
		margin-right: $s-2;
	}

	.user-avatar-btn {
		font-weight: 700;
		cursor: pointer;
		height: 32px;
		width: 32px;
		background-color: darkcyan;
		border-radius: 50%;
		color: $b1;
	}

	// .user-avatar-btn:hover {
	// 	background-color: rgb(190, 190, 190);
	// 	transition: 0.2s ease-in-out all;
	// }
	// .user-avatar-btn:active {
	// 	background-color: rgb(151, 150, 150);
	// }

	.user-modal {
		z-index: 10;
		background-color: white;
		color: $b1;
		flex-direction: column;
		min-height: 10vh;
		height: fit-content;
		width: fit-content;
		position: absolute;
		align-items: flex-start;
		right: 1%;
		top: 6%;
		padding: $s-2;
		border-radius: $s-2;
		font-weight: normal;
	}
}
