.board-menu {
	color: $b1;
	padding: $s-3 $s-2;
	z-index: 1;
	position: fixed;
	top: 10%;
	right: 0;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 20vw;
	height: 95vh;
	min-width: 300px;
	transform: translatex(101%);
	transition: 0.3s all;
	overflow-y: scroll;

	&.shown {
		transform: translateX(0);
		transition: 0.3s all;
	}

	.board-menu-inner {
		height: 30%;
		width: 100%;
	}

	div {
		flex-wrap: wrap;
		// margin-left: 5px;
	}

	h5 {
		flex-grow: 1;
		width: 80%;
		margin: 15px 0 15px;
	}

	// hr {
	// 	// position: absolute;
	// 	// margin: 0 2.5%;
	// 	// width: 92.5%;
	// 	// top: 5%;
	// }

	.acitivity-h2 {
		position: absolute;
		// margin-left: 2.5%;
		text-align: left;
		width: 95%;
		top: 30%;
	}

	.activity-hr {
		// position: absolute;
		top: 30%;
	}

	.board-img {
		margin-top: 5px;
		border: 1px solid black;
	}

	h2 {
		text-align: center;
		margin: 10px 0;
	}

	.board-background-img {
		height: 24px;
		width: 24px;
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-position: center;
		line-height: 20px;
		color: $b1;
	}

	.background-div {
		width: 100%;
	}

	.unsplash-img {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		height: 105px;
		margin: 0;
	}

	.imgs {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		min-width: 100%;
		gap: $s-1;
	}

	.img-container {
		max-height: 105px;
		width: 49%;
		border-radius: $s-2;
		// transform: rotate(90deg);
		cursor: pointer;
		margin: 0;
	}

	.img-container:hover {
		opacity: 0.8;
	}

	// .change-board-background {
	// 	position: relative;
	// }

	// Background Menu

	// .color-modal-colors {
	// 	display: grid;
	// 	grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
	// 	grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
	// 	gap: 10px;
	// 	.color-to-show {
	// 		height: 50px;
	// 		width: 70px;
	// 		border-radius: 7px;
	// 	}
	// 	.color-to-show:hover {
	// 		opacity: 0.8;
	// 	}
	// }

	// .color-modal-layout {
	// 	width: 90%;
	// 	margin: auto;
	// }
	// .color-modal-top {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	button {
	// 		border: none;
	// 		background-color: inherit;
	// 	}
	// }
}
