// Header
.board-header {
	// background: #0000003d;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 60px;
	max-height: 50px;
	align-items: center;
	min-height: 44px;
	color: #ffff;
	padding: $s-1;

	@media (min-width: 768px) {
		padding: 0 $s-3;
		margin-bottom: 0;
	}

	div {
		border-radius: 3px;
	}

	.header-left-container {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;

		@media (min-width: 768px) {
			gap: 0;
			flex-wrap: nowrap;
		}
	}

	.board-header-div {
		background-color: rgba(255, 255, 255, 0.205);
		cursor: pointer;
		min-height: 32px;
		min-width: 40px;
		margin-left: 10px;
		padding: 6px 10px;
		flex-wrap: wrap;
	}

	.board-title {
		background-color: rgba(255, 255, 255, 0.205);
		// padding: 0 12px;
		padding-bottom: 4px;
		border-radius: 3px;
		text-align: center;
		min-width: 50px;
	}

	input {
		max-width: 90vw;
		height: 32px;
		background-color: inherit;
		max-width: 400px;
		width: unset;
		border: none;
		color: #ffff;

		font-weight: 600;
		font-family: segoe;
		padding-bottom: 4px;

		@media (min-width: 768px) {
			font-size: 1.5rem;
		}
	}

	input:hover {
		opacity: 0.8;
	}

	input:focus {
		background-color: #ffff;
		color: $b1;
		outline: none;
	}

	.member-icons {
		display: flex;
		flex-direction: row;
	}

	.member-icon:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	.member-icon {
		margin-left: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		// font-size: larger;
		cursor: pointer;
		height: 28px;
		width: 28px;
		background-color: rgb(255, 86, 86);
		border-radius: 25em;
	}

	.member-avatar-btn {
		cursor: pointer;
		height: 28px;
		width: 28px;
		background-color: darkcyan;
		border-radius: 50%;
		color: $b1;
		float: left;
	}

	.member-icon:first-child {
		background-color: darkcyan;
		color: $b1;
	}

	div.star-container {
		font-size: 28px;
		margin-left: 2px;
		min-width: none;
		min-height: none;
		padding: 0;
	}

	.star {
		// padding: 6px;
		color: none;
		width: 20px;
		height: 20px;
		// padding-top: 2px;
	}
	.star:hover {
		// font-size: 28px;
		// color: rgb(242, 214, 0);
		stroke: yellow;
		fill: gold;
		opacity: 0.8;
	}

	.starOn {
		// font-size: 28px;
		// padding: 6px;
		color: rgb(242, 214, 0);
	}

	.starOn:hover {
		color: none;
	}

	.users-div {
		position: relative;

		@media (max-width: 768px) {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			margin-bottom: $s-1;
		}
	}

	div.invite-btn {
		height: 32px;
		// width: 70px;
		border-radius: $s-1;
		border-color: none;
		background-color: white;
		color: $b1;
		position: relative;
		// text-overflow: ellipsis;
	}

	div.invite-btn:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	.filter-div {
		position: relative;
		min-width: 78px;
		img {
			padding-right: $s-1;
		}
	}

	.dashboard:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	.filter-div:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	.menu-div {
		img {
			padding-right: $s-1;
		}
	}

	.menu-div:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	.show-menu-div:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	.show-menu-div {
		position: relative;
	}

	img.filter-img {
		padding-right: $s-1;
	}

	.add-user-img {
		height: 15px;
		width: fit-content;
		padding-right: $s-1;
	}
}
