.board-menu {
	padding-top: 10px;
	z-index: 1;
	position: absolute;
	margin-right: 10px;
	top: 10%;
	right: 0;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 20vw;
	height: 85vh;
	min-width: 300px;

	.board-menu-inner {
		height: 30%;
	}

	div {
		flex-wrap: wrap;
		margin-left: 5px;
	}

	.modal-top button {
		font-size: 18px;
	}

	h5 {
		flex-grow: 1;
		width: 80%;
		margin: 25px 0 25px;
	}

	span {
		width: 100%;
	}

	hr {
		position: absolute;
		margin: 0 2.5%;
		width: 90%;
		top: 5%;
	}

	.acitivity-h2 {
		position: absolute;
		margin-left: 2.5%;
		text-align: left;
		width: 95%;
		top: 30%;
	}

	.activity-hr {
		position: absolute;
		top: 37.5%;
	}

	.board-img {
		margin-top: 5px;
		border: 1px solid black;
	}

	h2 {
		text-align: center;
		margin: 10px 0;
	}

	.board-background-img {
		height: 24px;
		width: 24px;
		background-color: lightcyan;
	}
}
