.board-filter {
	color: $b1;
	z-index: 1;
	position: absolute;
	margin-right: 10px;
	top: 44px;
	right: 0;
	background-color: white;
	display: flex;
	flex-direction: column;

	align-items: flex-start;
	height: 95vh;
	width: 350px;
	padding: 10px $s-3 $s-5;
	border-radius: 4px;

	.filter-content-div {
		gap: 5px;
		margin-bottom: 8px;
		align-items: center;
	}

	.modal-top button {
		font-size: 18px;
	}

	h5 {
		margin: 15px 0 10px;
	}

	hr {
		// position: absolute;
		margin-left: 2.5%;
		width: 95%;
		// top: 5%;
	}

	h2 {
		text-align: center;
		margin: 10px 0;
	}

	.search-options {
		margin-top: 5px;
		margin-bottom: 10px;
	}

	form.filter-form {
		width: 100%;
	}

	span {
		// margin-left: 10px;
		// margin-bottom: 15px;
	}

	.user-avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		// font-size: larger;
		height: 24px;
		width: 24px;
		background-color: darkcyan;
		color: $b1;
		border-radius: 25em;
		font-size: 0.8rem;
	}

	.input-text {
		margin: 0;
		height: 30px;
		width: 100%;
		margin-right: 5px;
	}

	.filter-search {
		.input-text {
			margin: 0;
			height: 36px;
			width: 100%;
			padding: $s-2 $s-3;
			font-weight: 400;
			font-size: 1rem;
			background-color: #fafbfc;
			box-shadow: inset 0 0 0 2px #dfe1e6;
			border-radius: $s-1;
			transition-property: background-color, border-color, box-shadow;
			transition-duration: 85ms;
			transition-timing-function: ease;
		}

		p.keyword-p {
			color: #5e6c84;
			font-size: 12px;
			font-weight: 600;
			line-height: 16px;
			margin-top: 16px;
			margin-bottom: 8px;
		}

		.input-text:focus {
			background-color: #ffffff;
			box-shadow: inset 0 0 0 2px #0079bf;
		}

		.input-text:hover {
			background-color: #ebecf0;
			box-shadow: inset 0 0 0 2px #dfe1e6;
		}
	}

	.checkbox {
		// margin: 0 20px 0 0;
		align-self: center;
	}

	select {
		margin-bottom: 0;
		height: 35px;
		width: 100%;
		border-radius: 4px;
		background-color: #f4f5f7;
		border: none;
		padding-left: 10px;
		color: $b1;
	}

	.members {
		padding: 0;
		width: 100%;
	}

	.no-members-wrapper {
		width: 24px;
		height: 24px;
		background-color: #ebecf0;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		justify-items: center;
		align-items: center;
	}

	.no-dates-wrapper {
		width: 24px;
		height: 24px;
		background-color: #ebecf0;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		justify-items: center;
		align-items: center;
	}

	.overdue-wrapper {
		width: 24px;
		height: 24px;
		background-color: #eb5a46;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		justify-items: center;
		align-items: center;
	}

	.due-tommorow-wrapper {
		width: 24px;
		height: 24px;
		background-color: #f2d600;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		justify-items: center;
		align-items: center;
	}

	.label-div {
		width: 100%;
		height: 100%;
		height: $s-8;
		margin-bottom: $s-1;
	}

	.label-div:hover {
		cursor: pointer;
		opacity: 0.6;
	}

	.inner-label {
		width: 100%;
		height: 100%;
		border-radius: $s-1;
		margin-left: $s-1;
	}

	.green-label {
		background-color: green;
	}

	.red-label {
		background-color: red;
	}

	.blue-label {
		background-color: blue;
	}

	.yellow-label {
		background-color: gold;
	}

	.pink-label {
		background-color: pink;
	}
}
