.colors-grid-createModal {
	// padding: $s-2;
	display: grid;
	min-height: 100%;
	grid-template-columns: repeat(4, 40px);
	grid-template-rows: repeat(2, 32px);
	justify-content: center;
	// gap: $s-2;
	gap: $s-2;
}
.color-div-createModal {
	height: 32px;
	width: 40px;
	cursor: pointer;
}

.colors-grid-sideMenu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	min-width: 100%;
	gap: $s-1;
}

.color-div-sideMenu {
	height: 105px;
	width: 49%;
	border-radius: $s-2;
	// transform: rotate(90deg);
	cursor: pointer;
}

.color-div-sideMenu:hover {
	opacity: 0.8;
}

.color-div-createModal:hover {
	opacity: 0.8;
}
