// GENERAL MODALS

.details-modal {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: black solid 1px;
  top: 110%;
  left: 0;
  // overflow-x: visible;
  // position: absolute;
  // left: 70.5%;
  width: 450px;
  z-index: 4;
}

.modals-container {
  overflow-x: visible;

  .members {
    height: 200px;
    width: 450px;
  }

  .Dates {
    height: 350px;
    width: 350px;
    text-align: center;
  }

  .Cover {
    padding-bottom: 20px;

    .cover-modal-layout {
      width: 90%;
      margin: auto;
    }
    .cover-modal-top {
      display: flex;
      justify-content: space-between;
      button {
        border: none;
        background-color: inherit;
      }
    }
    // .cover-modal-colors {
    // 	display: grid;
    // 	grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    // 	grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    // 	gap: 10px;
    // 	.cover-to-show {
    // 		height: 50px;
    // 		width: 70px;
    // 		border-radius: 7px;
    // 	}
    .green-cover {
      background-color: rgb(54, 199, 54);
    }

    // 'green',
    // 'yellow',
    // 'blue',
    // 'dark-blue',
    // 'purple',
    // 'pink',
    // 'orange',
    // 'red',
    // 'brown',
    // 'light-blue',
    // 'turkiz',
    .yellow-cover {
      background-color: rgb(252, 252, 78);
    }
    .blue-cover {
      background-color: rgb(46, 46, 255);
    }
    .dark-blue-cover {
      background-color: rgb(19, 19, 110);
    }
    .purple-cover {
      background-color: rgb(102, 1, 102);
    }
    .pink-cover {
      background-color: rgb(252, 162, 177);
    }
    .orange-cover {
      background-color: rgb(253, 178, 39);
    }
    .red-cover {
      background-color: rgb(243, 47, 47);
    }
    .brown-cover {
      background-color: rgb(131, 33, 33);
    }
    .light-blue-cover {
      background-color: rgb(50, 146, 255);
    }
    .turkiz-cover {
      background-color: rgb(24, 206, 136);
    }
  }
}

// LABELS MODAL

.labels-modal {
  // height: 550px;
  width: 370px;
  padding-bottom: 20px;
  h3 {
    text-align: center;
  }
}
.labels-modal-top {
  display: flex;
  justify-content: space-between;
  button {
    border: none;
    background-color: inherit;
    color: '#5e6c84';
  }
  button:hover {
    cursor: pointer;
  }
}
.labels-modal-layout {
  width: 90%;
  margin: auto;
}

.edit-label-input {
  width: 100%;
  height: 2.5rem;
  margin-top: 10px;
  border: 2px solid #0066ff;
  font-size: 1.3rem;
}

.labels-input {
  text-align: center;
  margin-bottom: 15px;
  width: 90%;
  input {
    font-size: 1.3rem;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #0066ff;
    height: 2.5rem;
  }
}
.labels-modal-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label-row {
  display: flex;
  justify-content: flex-start button {
    border-radius: 7px;
  }
  button:hover {
    cursor: pointer;
  }
}
// .labels-modal {
//   display: flex;
//   flex-direction: column;
//   // align-items: start;
// }
.label {
  width: 80%;
  margin-right: 4px;
  // margin: auto;
  height: 35px;
  margin-top: 7px;
  // border: 1px solid black;
  border-radius: 5px;
}
.label:hover {
  cursor: pointer;
}
.label-green {
  background-color: rgb(94, 240, 94);
}
.label-red {
  background-color: rgb(245, 73, 73);
}
.label-orange {
  background-color: rgb(243, 180, 64);
}
.label-yellow {
  background-color: rgb(252, 252, 19);
}
.label-purple {
  background-color: rgb(219, 102, 219);
}
.label-blue {
  background-color: rgb(75, 75, 245);
}
.label-dark-blue {
  background-color: rgb(34, 34, 128);
}

// edit labels
.edit-labels-section {
  .edit-labels {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(70px, 1fr));
    gap: 10px;
  }
  .edit-label {
    height: 70px;
    width: 70px;
    border-radius: 10px;
  }
  button {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    color: white;
    font-size: 1.2rem;
    background-color: #0079bf;
    margin-top: 30px;
  }
}
// CHECKLIST MODAL

.cheklist {
  padding-bottom: 20px;
  h4 {
    text-align: center;
  }
  .cheklist-content {
    h5 {
      font-size: 1.4rem;
    }
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    input {
      font-size: 1.3rem;
      width: 100%;
      border-radius: 4px;
      border: 2px solid #f4f5f7;
      background-color: #eaecf0;
      height: 2.5rem;
    }
    button {
      width: 100px;
      height: 40px;
      border-radius: 7px;
      color: white;
      font-size: 1.2rem;
      background-color: #0079bf;
      margin-top: 30px;
    }
    button:hover {
      background-color: #3385ff;
      border-color: #3385ff;
      fill: #06f;
    }
  }
}

.attachment {
  .attachment-layout {
    width: 90%;
    margin: auto;
  }
  padding-bottom: 30px;
  .attachment-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgba(9, 30, 66, 0.0392156862745098);
    font-size: 1.3rem;
    color: #172b4d;
  }
  button:hover {
    cursor: pointer;
    background-color: rgba(9, 30, 66, 0.0784313725490196);
  }
}

.cover-modal-colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
  .cover-to-show {
    height: 50px;
    width: 70px;
    border-radius: 7px;
  }
  .cover-to-show:hover {
    opacity: 0.8;
  }
}
