* {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	font-family: 'segoe', sans-serif;
	background-color: lightcyan;
	line-height: 20px;
	color: $b1;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

hr {
	height: 1px;
	width: 100%;
	color: $b1;
}

.root-cmp-main {
	background-position: auto;
	background-repeat: auto;
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
