.app-header {
	display: flex;
	justify-content: flex-between;
	width: 100vw;
	height: 15vh;
	background-color: rgb(85, 211, 233);
	.main-header {
		display: flex;
		width: 100vw;
	}
	img {
		width: fit-content;
		height: 15vh;
	}

	ul {
		margin: 0;
	}

	li.board {
		height: 15vh;
		display: flex;
		font-size: 3rem;
		color: whitesmoke;
		align-items: center;
		justify-content: center;
	}
}
